{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class=" row" >
    <div class="col-md-8">{{ form_row(form.reference) }}</div>
</div>

<div class=" row ">
    <div class="col-md-8">{{ form_row(form.name) }}</div>
</div>



<div class=" row ">
    <div class="col-md-8">{{ form_row(form.image) }}</div>
</div>

<div class=" row ">
    <div class="col-md-8">{{ form_row(form.price) }}</div>
</div>


<div class=" row ">
    <div class="col-md-8">{{ form_row(form.quantite) }}</div>
</div>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<button class="btn-facebook">{{ button_label|default('Save') }}</button>


{{ form_end(form) }}







