{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class=" row" >
    <div class="col-md-8">{{ form_row(form.designation) }}</div>
</div>

<div class=" row ">
    <div class="col-md-8">{{ form_row(form.description) }}</div>
</div>

<div class=" row ">
    <div class="col-md-2">{{ form_row(form.ville) }}</div>
    <div class="col-md-6">{{ form_row(form.adresse) }}</div>
</div>

<div class=" row ">
    <div class="col-md-8">{{ form_row(form.image) }}</div>
</div>

<div class=" row ">
    <div class="col-md-8">{{ form_row(form.prixLocation) }}</div>
</div>

<div class=" row ">
    <div class="col-md-3">{{ form_row(form.heureOuverture) }}</div>
    <div class="col-md-3">{{ form_row(form.heureFermeture) }}</div>
</div>

<div class=" row ">
    <div class="col-md-8">{{ form_row(form.categorie) }}</div>
</div>

<div class=" row ">
    <div class="col-md-8">{{ form_row(form.disponible) }}</div>
</div>


{{ form_end(form) }}