<h1>Nouveau contact</h1>
<p>Nom : {{contact.nom}}</p><p>prenom : {{contact.prenom}}</p><p>L'equipe du client : {{contact.Equipe}}</p>
<p>e-mail : {{contact.email}}</p>
<p>Message : {{contact.message|raw}}</p>