{% extends'front/base.html.twig' %}
{% block title %} About Us
{% endblock %}
{% block body %}

    <div class="kode-subheader subheader-height">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Team</h1>
                </div>
                <div class="col-md-6">
                    <ul class="kode-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// SubHeader //-->

    <!--// Main Content //-->
    <div class="kode-content">

        <!--// Page Content //-->
        <section class="kode-pagesection margin-bottom-40">
            <div class="container">
                <div class="row">

                    <div class="col-md-7">
                        <div class="kode-editor">
                            <h2>SPORTY LEAGUE HISTORY</h2>
                            <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem si ita labore dolor si appellat, aut dolore doctrina. Commodo dolor esse in magna, a a multos senserit nam si aliqua iis multos, appellat elit senserit litteris ubi ne eram voluptate commodo si aliqua occaecat ad quem enim, eram domesticarum fabulas quorum doctrina ut commodo efflorescere aut possumus.</p>
                            <ul class="icon-list">
                                <li><i class="fa fa-angle-right"></i> Voluptate illum dolore ita ipsum</li>
                                <li><i class="fa fa-angle-right"></i> Labore admodum ita multos malis ea nam nam tamen fore amet</li>
                                <li><i class="fa fa-angle-right"></i> Voluptate illum dolore ita ipsum</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5"><a href="#"><img src="{{ asset('fonts/extra-images/team-frame1.jpg') }}" alt=""></a></div>

                </div>
            </div>
        </section>
        <!--// Page Content //-->

        <!--// Page Content //-->
        <section class="kode-pagesection kode-team-info-bg padding-top-40 padding-bottom-30">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">

                        <div class="heading heading-12 kode-white margin-top30-bottom-80">
                            <p>Devoted to</p>
                            <h2><span class="left"></span>team achievement<span class="right"></span></h2>
                        </div>
                        <div class="kode-team-timeline">
                            <span class="timeline-circle"></span>
                            <ul>
                                <li>
                                    <span class="kode-timezoon">2004</span>
                                    <div class="timeline-inner">
                                        <h2>intercontinental cup</h2>
                                        <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-inner">
                                        <h2>FEDERATION cup</h2>
                                        <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="kode-timezoon">2005</span>
                                    <div class="timeline-inner">
                                        <h2>intercontinental cup</h2>
                                        <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-inner">
                                        <h2>FEDERATION cup</h2>
                                        <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="kode-timezoon">2013</span>
                                    <div class="timeline-inner">
                                        <h2>intercontinental cup</h2>
                                        <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-inner">
                                        <h2>FEDERATION cup</h2>
                                        <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem</p>
                                    </div>
                                </li>
                            </ul>
                            <span class="timeline-circle bottom-circle"></span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--// Page Content //-->
        <section class="kode-pagesection margin-bottom-40 padding-top-40 padding-bottom-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading heading-12 padding-bottom-30">
                            <p>Devoted to</p>
                            <h2><span class="left"></span>League Team Creteria<span class="right"></span></h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="kd-accordion">
                            <div class="accordion" id="section1">Why Maxio Nam liber tempor cum soluta ? <span class="fa fa-plus"></span></div>
                            <div class="accordion-content">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>

                            <div class="accordion" id="section2">Our History Nam liber tempor cum soluta  <span class="fa fa-plus"></span></div>
                            <div class="accordion-content">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. </p>
                            </div>

                            <div class="accordion" id="section3">Our History Nam liber tempor cum soluta  <span class="fa fa-plus"></span></div>
                            <div class="accordion-content">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="kd-tab kd-horizontal-tab">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Flexible</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Smart</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Simple</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="kd-dropcap"><p>Lorem ipsum dolor sit amet, consecteture adipiscing elit, sed diam nonummy hibh euismo tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enime ad minim venlam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequ Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illu dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cu soluta nobis eleifend.</p></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile"><div class="kd-dropcap"><p>orem ipsum dolor sit amet, consecteture adipiscing elit, sed diam nonummy hibh euismo tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enime ad minim venlam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequ Duis autem vel eum iriure dolor in hendrerit in.</p></div></div>
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <div class="kd-dropcap"><p>Lorem ipsum dolor sit amet, consecteture adipiscing elit, sed diam nonummy hibh euismo tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enime ad minim venlam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex.</p></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="kode-pagesection padding-top-bottom-10">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="heading heading-12 margin-bottom-50">
                            <p>Is Your Team Ready For Next Match!</p>
                            <h2 class="color-black"><span class="left"></span>Our Testimonials<span class="right"></span></h2>
                        </div>
                        <!--TESTIMONIAL STYLE 1 START-->
                        <div class="kode-testimonials-6">

                            <ul class="bxslider">
                                <li>
                                    <div class="kode-text">
                                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco ut aliquip ex ea commodo consequat.”</p>
                                        <div class="client-name">
                                            <h4>Jack, Freelauncer</h4>
                                            <div class="kode-thumb">
                                                <img src="{{ asset('fonts/extra-images/testimonial-1.jpg') }}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kode-text">
                                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                                        <div class="client-name">
                                            <h4>Anna Doe, Freelauncer</h4>
                                            <div class="kode-thumb">
                                                <img src="{{ asset('fonts/extra-images/testimonial-1.jpg') }}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kode-text">
                                        <p>“Lorem ipsum dolor sit amet,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                                        <div class="client-name">
                                            <h4>Ronaldo, Freelauncer</h4>
                                            <div class="kode-thumb">
                                                <img src="{{ asset('fonts/extra-images/testimonial-1.jpg') }}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kode-text">
                                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                                        <div class="client-name">
                                            <h4>Anna Doe, Freelauncer</h4>
                                            <div class="kode-thumb">
                                                <img src="{{ asset('fonts/extra-images/testimonial-1.jpg') }}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--TESTIMONIAL STYLE 1 END-->
                    </div>
                </div>
            </div>
        </section>


        <!--// Page Content //-->
        <div class="kode-pagesection padding-top-bottom-10">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="kode-partner">
                            <ul class="row">
                                <li class="col-md-3"><a href="#"><img src="{{ asset('fonts/extra-images/partner-logo2.jpg') }}" alt=""></a></li>
                                <li class="col-md-3"><a href="#"><img src="{{ asset('fonts/extra-images/partner-logo3.jpg') }}" alt=""></a></li>
                                <li class="col-md-3"><a href="#"><img src="{{ asset('fonts/extra-images/partner-logo4.jpg') }}" alt=""></a></li>
                                <li class="col-md-3"><a href="#"><img src="{{ asset('fonts/extra-images/partner-logo5.jpg') }}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Page Content //-->

    </div>
    <!--// Main Content //-->

    <!--// NewsLatter //-->
    <div class="kode-newslatter kode-bg-color" >
        <span class="kode-halfbg thbg-color"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Subcribe Our Monthly Newsletter</h3>
                </div>
                <div class="col-md-6">
                    <form>
                        <input type="text" placeholder="Your E-mail Adress" name="s" required>
                        <label><input type="submit" value=""></label>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
