{% extends'front/base.html.twig' %}
{% block title %} competition
{% endblock %}
{% block body %}
    <div class="kode-subheader subheader-height">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="kode-content">
    <h1>Liste des Competition</h1>

    <table border="1" width="90%" align="center">



        <tr >
            <th>desgniation</th> <th>ddd</th><th>neeq</th><th>categorie</th><th>prix</th>

        </tr>




        <tr {% for c in Competition %}  >

            <td>{{ c.designation }}</td>

            <td>{{ c.dateDebut.format('d/m/Y') }}</td>
            <td>{{ c.nbreEquipes }}</td>
            <td>{{ c.categorie.getDesignation() }}</td>

            <td>{{ c.prixParticipation }}</td>


            <td style="display: inline-block">

                <form >

                    <a href="{{ path ('participe', {'id':c.id}) }}" class="btn btn-success" >Participe</a>
                </form>
            </td>
        </tr {% endfor %} >

    </table>




{% endblock%}