<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Affiche Categorie </h1>
<button>
    <a href="{{ path('adc') }}" >Ajouter</a>
</button>
<table border="1">
    <tr>
        <th> ID</th>
        <th>Désignation </th>
    </tr>
    <tr{% for u in Categorie %}>
        <td>{{ u.id }}</td>
        <td>{{ u.designation }}</td>
        <td><a href="{{ path('af',{'id':u.id}) }}"> Update</a> </td>
        <td><a href="{{ path('df',{'id':u.id}) }}"> Delete</a> </td>

    </tr {% endfor %}>
</table>

</body>
</html>